.dependabot export-ignore
.github/ export-ignore
codecov.yml export-ignore
tests/ export-ignore
tox.ini export-ignore
compile-eslint-server.sh export-ignore
unittesting.json export-ignore

# Release script
.release.json export-ignore
scripts export-ignore
VERSION export-ignore
